// Place all the styles related to the public/books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.book_index {
    color: white;
    font-size: 25px;
}

.book_index_content{
    color: white;
    font-size: 25px;
}

.book_index_contents{
    color: black;
    font-size: 20px;
    background-color: #ccc;
    opacity: 0.8;
}

.book_page{
    font-size: 25px
}

.sarch_layout{
    height: 550px;
}

.book-sarch{
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: right;
    padding-right: 50px;
}

.top_book_show{
    height: 550px;
}

.book_show_content{
    color: white;
    font-size: 20px;
}

.book_show_content_sub{
    color: white;
    font-size: 25px;
}

.book_show_content_comment{
    color: white;
    font-size: 25px;
}

.user_book_new{
    height: 300px;
    display: flex;
    justify-content: center;
    margin: 150px;
    color: black;
    font-size: 25px;
}

.top_book_layout{
    height: 950px;
}
