// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.home {
 background-image: image-url("book-image.jpeg");
 background-size: cover;
 height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Noto+Serif+JP:wght@900&display=swap');
.top-header {
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  line-height: 300px;
  margin: 0 auto;
  padding-right: 500px;
  font-family: 'Noto Serif JP', serif;
}

.top-about{
 background-image: image-url("book-image.jpeg");
 opacity: 0.8;
 background-size: cover;
 height: 100%;
 margin: 0 auto;
 line-height: 100px;
}

.about-text{
 color:white;
}

.about-title{
  color:orange;
}