// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
}

.mb-auto{
 padding-bottom: 0;
 width: 100%;
 height: auto;
 background-image: image-url("book-image.jpeg");
 background-size: cover;
 opacity: 0.8;
}

.top_mypage{
    height: 100%;
}