// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
}

.mb-auto{
 padding-bottom: 0;
 width: 100%;
 height: auto;
 background-image: image-url("book-image.jpeg");
 background-size: cover;
 opacity: 0.8;
}

.top_mypage{
 height: 550px;
}

.mypage_title{
 color: white;
 font-size: 25px;
}

.top_admin_user{
 height: 650px;
}

.mypage_content{
 color: white;
 font-size: 25px;
}

.mypage_content_sub{
 color: black;
 font-size: 30px;
}


.admin_user_index{
 color: white;
 font-size: 25px;
}

.admin_user_content{
 color: white;
 font-size: 25px;
}

.admin_user_index_content{
 color: black;
 font-size: 25px;
 background-color: #ccc;
 opacity: 0.8;
}

.admin_page{
 font-size: 20px;
}

.top_admin_user_show{
 height: 700px;
}

.admin_user_show_title{
 color: white;
 font-size: 30px;
}

.admin_user_show_content{
 color: white;
 font-size: 25px;
}

.admin_user_show_contents{
 color: black;
 font-size: 25px;
 background-color: #ccc;
 opacity: 0.8;
}

.top_unsubscribe{
 height: 550px;
 display: flex;
 justify-content: center;
}

.unsubscribe_title{
 color: white;
 font-size: 25px;
}

.unsubscribe_text{
 color: white;
 font-size: 25px;
}

.unsubscribe_text_span{
 color: red;
}

.unsubscribe_link{
 display: flex;
 justify-content: center;
}
