<h3>ようこそ！</h3>
<p>　読んだ本に対してレヴューを入力し、その情報を共有できるサイトです！<br>
 　その本のおすすめ度や、どのような人に対して読んでほしいのかが１目で分かります！<br>
 　今まで「買ったはいいけど面白くなかった」、「忙しくて読むことができなかった」<br>
 　といった経験はないでしょうか？<br>
 　このサイトは、そういった出来事を最小限にするとともに、ニーズにあった最高の１冊に出会う手助けをすることができます。<br>
 　今まで本に興味がなかった方も、今日のこの出会いをきっかけに、最高の１冊に出会うお手伝いができれば幸いです。
   </p>
