  <h3 class = "unsubscribe_title">
   本当に退会しますか？
  </h3>
<div class = "top_unsubscribe">
  <br>
  <br>
  <h4 class = "unsubscribe_text">退会すると、会員情報や<br><br>
  これまでの投稿が閲覧できなくなります。<br><br>
  退会する場合は、<span class = "unsubscribe_text_span">「退会する」</span>をクリックしてください。
  </h4>
</div>
  <div class="actions">
   <div class = "unsubscribe_link">
    <%= link_to "退会する", withdraw_path, method: :patch %>
   </div>
   <div class = "unsubscribe_link">
    <%= link_to "退会しない",  my_page_path %>
   </div>
  </div>
